<h1>Page for '<%= @newspaper.title %>'</h1>

<p>
  Editor: <%= @newspaper.editor %>
</p>

<h3>Available subscriptions:</h3>
<% @newspaper.subscription_plans.each do |subscription_plan| %>
  <p>
    Frequency:
      <%= subscription_plan.daily? ? "Daily" : "Weekly" %>
    <br>
    Price: <%= subscription_plan.price %>
  </p>
<% end %>